<div class='container p-4'>
  <div class='row'>
    <div class='col-md-5'>
      <div class='card-body'>
        <div class='card-header bg-dark text-white'>
          <h2>Crear Libro</h2>
        </div>
        <form action='/create' method='post'>
          <div class='mb-3'>
            <label for='nombre' class='form-label'>Nombre</label>
            <input type='text' name='name' id='name' class='form-control' />
          </div>
          <div class='mb-3'>
            <label for='autor' class='form-label'>Autor</label>
            <input type='text' name='author' id='author' class='form-control' />
          </div>
          <div class='mb-3'>
            <label for='image' class='form-label'>Imagen</label>
            <input
              type='text'
              name='image'
              id='image'
              class='form-control'
              placeholder='http://......'
            />
          </div>
          <div class='mb-3'>
            <label for='description' class='form-label'>Descripcion</label>
            <textarea
              row='2'
              name='description'
              id='description'
              class='form-control'
            ></textarea>
          </div>
          <input type='submit' class='btn btn-success' value='Add Book' />
        </form>
      </div>
    </div>
  </div>

</div>